body{
  margin: 0px;
}
.container {
  background-color: rgb(253, 215, 189);
}

.darkTheme{
  background-color: rgb(91, 39, 4);
  width: 80%;
  margin: 0 auto;
  color: white;
}

header{
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 2rem;
  background-color: #ac542e;
  padding-bottom: 2rem;
  gap: 2rem;
  
}

.darkTheme header{
  background-color: #fcceba;
}

header nav{
  display: flex;
  gap: 1rem;
  margin:0 auto
}

header nav a{
  font-size: 1.2rem;
  text-decoration: none;
  color: #fcceba;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
  transition: transform 0.3s ease;
  background-color: #864a30;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  
}

.darkTheme header nav a{
    color: white;
}

header nav a:hover{
  transform: scale(1.1);
}

header img{
  margin: 0 auto;
  width: 15%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

header img:hover{
  transform: scale(1.2);
}

.cta{
  padding-top: 5rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.cta img{
  width: 25%;

}

.darkTheme .cta img{
    background-color: white;
    border-radius: 15rem;

}
.cta-text h1{
  font-family: "Londrina Solid", sans-serif;
  font-weight:600;
  font-style: normal;
  font-size: 4rem;
}

.cta-text button{
  font-size: 1.5rem;
  background-color: #ffb595;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cta-text button:hover{
  transform: scale(1.2)
}

.main-content{
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.top-content{
  border-top: 2px solid rgb(255, 128, 43);
  display: flex;
  gap: 3rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.text-content{ 
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; 
}

.text-content h4{
    font-weight: 600;
    font-size: 1.2rem;
}

.middle-img{
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.middle-img:hover{
  transform: scale(1.1);
}


.bottom-content{
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  border-bottom: 2px solid rgb(255, 128, 43);

}

.contact{
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

}

footer{
width: 60%;
  margin: 0 auto;
  display: flex;      
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

footer a{
  color: rgba(0, 0, 0, 0.492);
  text-decoration: none;
  font-weight: bold;
}

.darkTheme footer a{
  color: white;
}

@media (max-width: 768px) {
  
}