.container {
  background-color: rgb(253, 215, 189);
  width: 80%;
  margin: 0 auto;
}

header{
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 10rem;
  padding-top: 5rem;
}

header nav{
  display: flex;
  gap: 2rem;
}

header nav a{
  font-size: 2rem;
  text-decoration: none;
  color: #772400;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
  transition: transform 0.3s ease;
  
}

header nav a:hover{
  transform: scale(1.1);
}

header img{
  width: 15%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

header img:hover{
  transform: scale(1.2);
}

.cta{
  padding-top: 5rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25rem;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.cta img{
  width: 25%;
}

.cta-text h1{
  font-family: "Londrina Solid", sans-serif;
  font-weight:600;
  font-style: normal;
  font-size: 4rem;
}

.cta-text button{
  font-size: 1.5rem;
  background-color: #ffb595;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cta-text button:hover{
  transform: scale(1.2)
}

.main-content{
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.top-content{
  display: flex;
  gap: 3rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.text-content{ 
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; 
}

.text-content h4{
    font-weight: 600;
    font-size: 1.2rem;
}

.middle-img{
  display: block;
  width: 80%;
  margin: 0 auto;
}

.bottom-content{
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
}

.contact{
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

footer{
width: 60%;
  margin: 0 auto;
  display: flex;      
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

footer a{
  color: rgba(0, 0, 0, 0.492);
  text-decoration: none;
  font-weight: bold;
}